<div class="pricingWhiteBox">
<span class="pricingWhiteBoxTitle">Gold Package</span>
<span class="pricingWhiteBoxText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit amet, faucibus vitae lacus. Integer elementum at nisi pharetra convallis. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vel iaculis dui.</span>
<span class="pricingWhiteBoxFresh">$ 140</span>
<button *ngIf=white class="ourPricingWhiteButton">See Details</button>
<button *ngIf=blue class="ourPricingBlueButton">See Details</button>
</div>