

<div class="whoWeAreGroupe"></div>

<div class="whoWeArePhone"></div>
<div class="whoWeAreRight">
    <span class="whoWeAreBiography">Biography</span>          
    <span class="whoWeAreTitle">Who We Are</span>
    <span class="whoWeAreText">
        Lorem Media is a full-service social media agency. We offer businesses innovative solutions that deliver the right type of audience to you in the most effective strategies possible. We strive to develop a community around your business, polishing your branding, and improving your public relations.
        Social Media is now one of the most powerful marketing tools with the ability to communicate with a target audience in real time.
    </span>
    <span class="whoWeAreText">

        It's 2019: time to sink or swim.
    </span>        
    <button class="whoWeAreButton">SEE MORE</button>
</div>