<div class="ourPricingBackground"></div>
<span class="ourPricingWord">Pricing</span>
<span class="ourPricingTitle">Our Pricing</span>

<div class="ourPricingFlexBoxes">
    <div >
    <app-pricing-box [blue]="false" [white]="true"></app-pricing-box>
    </div>
    <div class="ourPricingBoxesToLeft">
    <app-pricing-box [blue]="true" [white]="false"></app-pricing-box>
    </div>
    <div class="ourPricingBoxesToLeft">
    <app-pricing-box [blue]="false" [white]="true"></app-pricing-box>
    </div>
</div>