
<div class="whatWeOfferBackground"></div>

<div class="whatWeOfferTitleFlex">
    <span class="whatWeOfferOurServices">OUR SERVICES</span>
    <span class="whatWeOfferTitle">What We Offer</span>
</div>
<div class="whatWeOfferBoxes">
<div class="whatWeOfferRow">
    <div>
    <app-card-service [path] = "path1" [title] = "title1" [text] = "text1"></app-card-service>
</div>
<div class="cardTwoToLeft">
    <app-card-service [path] = "path2" [title] = "title2" [text] = "text2"></app-card-service>
</div>
<div class="cardTwoToLeft">
    <app-card-service [path] = "path3" [title] = "title3" [text] = "text3"></app-card-service>
</div>

</div>
<div class="whatWeOfferRow">
<div>
    <app-card-service [path] = "path4" [title] = "title4" [text] = "text4"></app-card-service>
</div>
<div class="cardTwoToLeft">
    <app-card-service [path] = "path5" [title] = "title5" [text] = "text5"></app-card-service>
</div>
<div class="cardTwoToLeft">
    <app-card-service [path] = "path6" [title] = "title6" [text] = "text6"></app-card-service>
</div>
</div>
</div>