<div class="homeLeftFlexBox">
    <div class="socialMediaFlexBox">
        <img class="socialMediaSpaceBetween" src="../../assets/img/003-facebook.png"/>
        <img class="socialMediaSpaceBetween" src="../../assets/img/002-google-plus.png"/>
        <img class="socialMediaSpaceBetween" src="../../assets/img/001-twitter-logo-silhouette.png"/>
        <img class="socialMediaSpaceBetween" src="../../assets/img/instagram.png"/>
        <hr class="socialMediaSpaceBetween" style="height: 4vh; width:2px; border: 0; background-color: #7E76F9;" />        
    </div>

    <div class="homeLeft">
          
    <span class="homeSocialTitle">SOCIAL</span>
    <span class="homeSocialTitle">MEDIA FOR BUSINESS</span>
    <span class="homePerfomanceText">PERFOMANCE BASED SOCIAL MEDIA AGENCY</span>
    <span class="homePerfomanceText">WE ARE LOREM MEDIA</span>
    <button class="homeButtonGet">GET A FREE AUDIT</button>
    </div>
    
</div>
    <div class="homeMouse">
        <img src="../../assets/img/mouse@2x.png" class="homeMouseImg" />
    </div>

    <div >
        <div class="bgShapeHome"></div>
        <div class="homeBackground"></div>
    <app-header></app-header>
    </div>
