<div class="specialNewsHeadPage">
<span class="specialNewsLetter">Newsletter</span>
<span class="specialNewsTitle">Do you want to get Special News?</span>
<div class="specialNewsInputFlexBox">
<input type="text" placeholder="Drop Your Email" class="specialNewsInput"/>
<button class="specialNewsButton">Subscribe</button>
</div>
</div> 
<div class="footerText">
    <div class="footerLeft">
        <span class="footerLogo">logo.</span>
        <span class="footerStayInTouch">Stay in touch</span>
        <div class="socilaMediaFooterIcons">
            <img src="../../assets/img/asset-1.png"  class="footerIconSize"/>
            <img src="../../assets/img/asset-3.png" class="footerIconSize"/>
            <img src="../../assets/img/asset-2.png" class="footerIconSize"/>
            <img src="../../assets/img/instagram-1.png" class="footerIconSize"/>                        
        </div>
    </div>
    <div class="footerCenterLeft">
        <span class="footerTitleText">Quick Links</span>
        <span class="footerFontText">About</span>
        <span class="footerFontText">Home</span>
        <span class="footerFontText">Pricing</span>
        <span class="footerFontText">Location</span>
        <span class="footerFontText">Office</span>
    </div>
    <div class="footerCenterRight">
        <span class="footerTitleText">Hours</span>
        <span class="footerFontText">Monday:         9:00 - 18:00</span>
        <span class="footerFontText">Tuesday:        9:00 - 18:00</span>
        <span class="footerFontText">Wednesday:  9:00 - 18:00</span>
        <span class="footerFontText">Thursday:       9:00 - 18:00</span>
        <span class="footerFontText">Friday:             9:00 - 18:00</span>
    </div>
    
    <div class="footerRight">
        <span class="footerTitleText">Contact</span>
        <div class="footerContactFlexBox">
        <div class="footerContactIcons">
        <img src="../../assets/img/old-handphone.png" class="footerIconSize"/>
        <img src="../../assets/img/envelope.png" class="footerenvelopeSize"/>
        <img src="../../assets/img/maps-and-flags.png" class="footerIconSize"/>
    </div>
    <div class="footerContactIcons">
        <span class="footerFontTextContact">000-000-0000</span>
        <span class="footerFontTextContact">info@email.com</span>
        <span class="footerFontTextContact">New York, US</span>
    </div>
</div>
    </div>
</div>

<div class="footerBackgroundLeft">
    <div class="footerBackgroundRight">
        <div class="footerBackgroundCenter">
        </div>
    </div>
</div>

